.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/


# Built Visual Studio Code Extensions
*.vsix

**/node_modules/

**/yarn.lock


*.env


**/dist
server/database/configs/dbConfig.env
client/public/img/material/1749386822586.jpg
client/public/img/material/1749386837798.jpg
client/public/img/material/1749386875035.jpg
client/public/img/product/1749384031271.jpg
client/public/img/product/1749384091978.jpg
client/public/img/product/1749384351798.jpg
client/public/img/product/1749384370811.jpg
client/public/img/product/1749384389574.jpg
client/public/img/product/1749384564583.jpg
client/public/img/product/1749384584152.jpg
client/public/img/product/1749386370190.jpg
client/public/img/product/1749386376722.jpg
